
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    position: relative;
}
.active-link {
    color: #35a22c !important;
    
}

header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
  

}


header .menu a {
    position: relative;


}

header .menu a::after {
    position: absolute;
    bottom: -8px;
    left: 0;
    content: "";
    width: 0;
    height: 2px;
    background-color: #35a22c;
   transition: width 0.3s;
}

.navbar-collapse .menu .active-link::after {
    position: absolute;
    bottom: -8px;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #35a22c ;
 
}
header .menu a:hover::after {
width: 100%;
transition: width 0.3s;
}

.header .menu a:first-child:after {
    width: 100%;
}

header .menu a:hover {
    color: #35a22c !important;
}

header .navbar .navbar-toggler {
   
    background-color: #35a22c;
    

}

header .navbar .navbar-toggler span {
    color: #35a22c;
}

/*- carousel*/
.carousel-section {
    position: relative;
}
.carousel-section .carousel-item img {
    max-height: 100vh;
    width: 100%;
    object-fit: cover;
    
}


.carousel-section .carousel-caption img.avatar {
    width: 120px;
    height: 120px;
    object-fit: cover;
    animation: fadeUp 2s;
}

.carousel-section .carousel-caption h5{
    /* opacity: 0; */
    animation: fadeUp 2s;
    animation-delay: 1s;
    animation-fill-mode: both; /* giu lai trang thai cuoi animation*/
}

.carousel-section .carousel-caption p {
    /* opacity: 0; */
    animation: fadeUp 2s;
    animation-delay: 2s;
    animation-fill-mode: both;
}

.carousel-section {
    position: relative;
    z-index: 1;
}


.carousel-section::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 2;
}

.carousel-indicators {
    z-index: 6;
}




.carousel-indicators .btn-indicator {
   
    margin: 6px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    transition: all .3s;
   
}

.carousel-indicators .btn-indicator.active {
    background-color: #35a22c ;
}

.carousel-indicators .btn-indicator:hover {
    background-color: #35a22c !important;
}



/*Project*/
/* custom button nav-tab*/
button.active {
    background-color: #35a22c !important;
    color: #fff !important;
}

.nav-item button {
    border: 1px solid green !important;
   
}

.project-item {
    animation: scale-product 0.8s;
}

/*-- available---*/
.available {
    background-image: url(../image/3.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 700px;
    background-attachment: fixed;
  
  
}

.available .container-custom {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    min-height: 700px;
}

.available .card {
    background: rgba(255,255,255,.1);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255,255,255,.1);
}

.available .card:hover {
    background: rgba(255,255,255,.05);
    border: 1px solid #fff;
    transition: all 0.5s;

}

/*-- achivement---*/
.achievement {
    min-height: 400px;
    background:  url(../image/memphis_3.png);
    background-size:35% 100%;
    background-repeat: no-repeat;

}

.achievement .card {
    background: rgba(255,255,255,.5);
}

/*---- footer----*/
footer {
    min-height: 200px;
}
.footer-top {
    position: relative;
    width: 100%;
   

}
.footer-top i {
    margin: 0 4px;
    width: 42px;
    height: 42px;
    line-height: 42px;
    border-radius: 50%;
    border: 1px solid #454545;
    transition: all .5s;
}

.footer-top i:hover {
    border-color: #35a22c;
    color: #35a22c;
}

.footer-top::after {
    content: '';
    width: 80%;
    height: 1px;
    background-color: rgba(255,255,255,.2);
    position: absolute;
    bottom: 10%;
    left: 10%;
}

.footer-bottom a {
    text-decoration: none;
    color: #fff;
}












@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(200px);

    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes scale-product {
    0% {
        transform: scale(0,0);
        opacity: 0;
    }
    100% {
        transform: scale(1,1);
        opacity: 1;
    }

}
